header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E1E8ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.logo a {
    text-decoration: none;
    color: darkorange;
    font-size: 24px;
    font-weight: bold;
}
nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #DF321B;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.2s ease;
    padding: 10px;
}
nav a:hover {
    border-bottom: 2px solid #DF321B;
}

iframe {
    border: none;
    width: 100%;
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-left: 100px;
    padding-right: 100px;
}
body {
    padding-top: 100px;


}
.custom-container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}


#insert_para {
    position: relative;
    display: inline-block;
}
.para1 {
    width: 400px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
}
img {
    border-radius: 10px;
}
