.description {

}
.ingredients {
    padding: 20px;
}
table td{
    padding: 10px 20px;
}
.info a{
    text-decoration: none;
    color: black;
    padding-left: 15px;
}
.info a:hover{
    color: #DF321B;
    text-decoration: underline;
}
.info {
    margin-top: 20px;
}
.process {
    font-size: 19px;
}