header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E1E8ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.logo a {
    text-decoration: none;
    color: darkorange;
    font-size: 24px;
    font-weight: bold;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #E1E8ED;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: #DF321B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f8f8f8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-bottom: 2px solid #DF321B;
}
.header-col {

}
nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #DF321B;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.2s ease;
    padding: 10px;
}
nav a:hover {
    border-bottom: 2px solid #DF321B;
}


iframe {
    border: none;
    width: 100%;
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 100px;
    padding-right: 100px;
}
body {
    padding-top: 80px;


}
.custom-container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}


#insert_para {
    position: relative;
    display: inline-block;
}
.para1 {
    width: 400px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
}
img {
    border-radius: 10px;
}
